html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.sidebar {
    background: #fbfbfb;
    height: 100%;
    width: 570px;
    float: left;
    display: block;
    position: fixed;
    border-right: 1px solid #d0d0d0;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.results {
    background: #ffffff;
    height: 100%;
    display: block;
    margin-left: 570px;
}

.wrapper {
    display: block;
    opacity:1;
    margin: auto;
}

.formWrapper {
    display: none;
    margin: auto;
    transition: 0.5s;
}

.header h1 {
    display: block;
    text-align: center;
    font-weight: 200;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid #d0d0d0;
}

.showResultPattern, .showResultWord {
    padding: 20px;
    background: #ffffff;
    display: flex;
    opacity:0.02;
    z-index:-1;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.edit, .delete {
    margin-right: 30px;
    text-align: left;
}

.edit a, .delete a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.edit {
    background: #2a9ca5;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.delete {
    background: #f94949;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.result {
    width: 350px;
    font-weight:400;
}

form, input {
    float: none;
    display: block;
    padding: 5px;
    margin: 10px auto 10px auto;
    width: 50%;
}

input[type=text] {
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #d0d0d0;
}

input[type=submit] {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background: #2a9ca5;
    width: 50%;
    border: none;
    color: white;
    font-weight:600;
    font-size:14px;
}

label {
    margin: auto auto 10px auto;
    display: block;
    text-align: center;
}

.methods {
    border-bottom: 1px solid #efefef;
    background: white;
    display: flex;
    padding: 20px;
    height: 4%;
}

.tag {
    margin: auto;
    transition: 0.5s;
}

.tag a {
    text-decoration: none;
    color: black;
}

.tag:hover {
    transition: 0.5s;
    font-size: 16.5px;
}

select {
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #d0d0d0;
    background: white;
    color: black;
}

#editPopup {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.updateWrapper {
    margin: auto;
    width: 470px;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.updateWrapper h1 {
    text-align:center;
}

.pagination {
    margin: auto;
    display: block;
    margin-top:40px;
    font-size: 30px;
}

.previous {
    float: left;
    margin-left: 20px;
}

.next {
    float: right;
    margin-right: 20px;
}

.previous a, .next a {
    text-decoration: none;
    color:#383838;
}

.curPage {
    margin:auto;
    display:block;
    text-align: center;
}

.statsWrapper {
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    height:90vh;
    transition:0.5s;
    opacity:0;
}

#submitForm {
    transition: 0.5s;
}

.stats {
    margin:20px auto 20px auto;
    width:100px;
    height:100px;
    padding:10px 50px 10px 50px;
    border-radius:0px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color:#131313;
    transition: 0.2s;
}

.stats:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background: rgba(0, 155, 255,0.02);
    border: 1px solid rgba(0, 155, 255,0.5);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
}